@using THCM4.Models;

@model DonDatHang
@{
    ViewBag.Title = "DuyetDonHang";
    Layout = "~/Views/Layout/AdminLayout.cshtml";

}

<h3 class="texth3">
    Mã Đơn Hàng :<b class="maub">
        @Model.MaDDH

    </b>
</h3>

@using (Html.BeginForm())
{

    IEnumerable<CTDH> lstCTDH = (IEnumerable<CTDH>)ViewBag.lstCTDH;
    <table class="table" id="tables">
        <thead class="thead-light">
            <tr>

                @Html.Hidden("MaDDH", Model.MaDDH)
                <th style="color:coral" scope="col">
                    Mã Khách Hàng:
                    <b class="maub">
                        @Model.KhachHang.MaKH
                    </b>
                </th>
                <th style="color:coral" scope="col">
                    Tên Khách Hàng:
                    <b class="maub">
                        @Model.KhachHang.HoTenKH
                    </b>
                </th>
                <th style="color:coral" scope="col">
                    Số ĐT:
                    <b class="maub">
                        @Model.KhachHang.SdtKH
                    </b>
                </th>
                <th style="color:coral" scope="col">
                    Ngày Đặt:
                    <b class="maub">
                        @Model.NgayDat.Value.ToString("dd/MM/yyyy")
                    </b>
                </th>
                <th style="color:coral" scope="col">
                    Ngày Giao:
                    <b class="maub">
                        @Model.NgayGiao.Value.ToString("dd/MM/yyyy")
                    </b>
                </th>
                <th style="color:coral" scope="col">
                    Đã Thanh Toán:
                    <b class="maub">
                        @Html.EditorFor(Model => Model.DaThanhToan)
                    </b>
                </th>
                <th style="color:coral" scope="col">
                    Đã Giao Hàng:
                    <b class="maub">
                        @Html.EditorFor(Model => Model.Dagiao)
                    </b>
                </th>
            </tr>
            <tr>
                <th style="color:black" scope="col">Mã Sản Phẩm</th>
                <th style="color:black" scope="col">Tên Sản Phẩm</th>

                <th style="color:black" scope="col">Số Lượng</th>
                <th style="color:black" scope="col">Đơn Giá</th>
            </tr>
            @foreach (var item in lstCTDH)
            {
        <tr>
            <th style="color:black" scope="col">@item.MaSP</th>
            <th style="color:black" scope="col">@item.TenSP</th>
            <th style="color:black" scope="col">@item.Soluong</th>
            <th style="color:black" scope="col">@item.Dongia.Value.ToString("#,##") VND</th>
        </tr>
            }
            <tr>
                <th colspan="4" scope="col" style="text-align:right;color:black;">
                    Tổng Tiền:
                    <b>@Model.CTDH.Sum(n => n.SanPham.DonGia).Value.ToString("#,##") VND</b>

                </th>
            </tr>

        </thead>


    </table>

    <div>
        <input type="submit" name="name" class="btn btn-success" value="In Đơn Hàng" id="btnIN" />
        <input type="submit" name="name" class="btn btn-success" value="Lưu Đơn Hàng" />
    </div>


    <style>
        .maub {
            color: red;
        }

        .texth3 {
            margin-left: 12px;
            margin-bottom: 15px;
        }
    </style>
    <script>
        $("#btnIN").click(function () {
            var content = $("#tables").html();
            InDonHang(content);
        });
        function InDonHang(content) {
            var In = window.open('', '', 'heigh=400,width=600');
            In.document.write('<html><head><title>DIV Contents </title>');
            In.document.write('<html><head><title>DIV Contents </title>');
            In.document.write(content);
            In.document.write('</head><body>');
            In.document.write('</body></html>');
            In.document.close();
            In.print();

        }
    </script>
}


