@using THCM4.Models

@model List<ItemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

@if (Model == null || Model.Count == 0)
{
    <div>
        Giỏ Hàng Trống
    </div>
}
else
{


    <link rel="stylesheet" href="~/Content/CSS1.css" media="screen" title="no title" charset="utf-8">
    <div class="title">
        Giỏ Hàng
    </div>
    <div class="item ">

        <div class="buttons">

        </div>

        <div style="margin-top:20px;padding: 0px 30px 0px 60px">

            <p>Hình Ảnh</p>
        </div>

        <div style="margin-top:20px;padding: 0px 0px 0px 65px">
            <span>Tên Sản Phẩm</span>

        </div>

        <div style="margin-top:20px;padding: 0px 50px 0px 70px">
            <span>Số Lượng</span>

        </div>

        <div class="total-price"> Thành Tiền </div>




    </div>
    foreach (var item in Model)
    {


        <div class="item ">
            <div class="buttons">
                <span>@Html.ActionLink("Xoá", "XoaGioHang", new { @MaSP = item.MaSP }) </span>
                <br />


            </div>

            <div class="image" style="height:130px;width:130px">
                <img src="@Url.Content("~/Content/AnhData/"+item.HinhAnh)" alt="" />
            </div>

            <div class="description">
                <span>@item.TenSP</span>

            </div>

            <div class="quantity">

                <input type="text" name="name" value="@item.SoLuong">

            </div>


            <div class="total-price" style="padding-left:75px">@item.ThanhTien.ToString("#,##") VND </div>
            <div class="total-price" style="padding-left:110px">
                <span>@Html.ActionLink("Sửa", "ChinhSuaGioHang", new { @MaSP = item.MaSP }) </span>

            </div>
        </div>

    }
    using (Html.BeginForm("DatHang", "GioHang"))
    {
        if (Session["TaiKhoan"] == null)
        {


            <div class="col-md-9 register-top-grid">

                <div>
                    <span>Họ Và Tên</span>
                    <input type="text" name="HoTenKH" value="" required="" />
                    @*@Html.TextBox("HoTenKH")*@
                </div>
                <div>
                    <span>Địa Chỉ</span>
                    <input type="text" name="DiaChiKH" value="" required="" />
                    @*@Html.TextBox("DiaChiKH")*@
                </div>
                <div>
                    <span>Email </span>
                    <input class="register-bottom-grid" type="text" name="EmailKH" value="" required="" />
                    @*@Html.TextBox("EmailKH")*@
                </div>
                <div>
                    <span>Số Điện Thoại </span>
                    <input type="text" name="SdtKH" value="" required="" />
                    @*@Html.TextBox("SdtKH")*@
                </div>

            </div>
        }
        <div class="col-md-9" style="text-align:right;padding-right:80px">
            <input type="submit" name="name" value="Đặt Hàng" class="btncapnhat" style="padding-top:5px" />

            <br />
            <br />
            @Html.ActionLink("Mua Tiếp", "Index", "Home", null, new { @class = "btncapnhat" })

        </div>
    }
}







<style>
    .btncapnhat {
        color: #20bf6b !important;
        /*text-transform: uppercase;*/
        background: #ffffff;
        margin-left: 10px;
        padding-top: 15px;
        width: 100px;
        text-align: center;
        height: 50px;
        border: 4px solid #20bf6b !important;
        border-radius: 5px;
        display: inline-block;
        transition: all 0.3s ease 0s;
    }

        .btncapnhat:hover {
            color: #494949 !important;
            border-radius: 15px;
            border-color: #494949 !important;
            transition: all 0.3s ease 0s;
        }

    .title {
        height: 60px;
        padding: 20px 30px;
        color: #5E6977;
        font-size: 18px;
        font-weight: 400;
    }
</style>


