@using THCM4.Models;
@model LoaiTV
@{
    ViewBag.Title = "PhanQuyen";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

@{
    IEnumerable<Quyen> lstQuyen = (IEnumerable<Quyen>)ViewBag.DsQuyen;
    IEnumerable<LoaiTV_Quyen> lstLoaiTVQuyen = (IEnumerable<LoaiTV_Quyen>)ViewBag.LoaiTVQuyen;
}
<h2>PhanQuyen</h2>
<h3> Tên Loại Thành Viên: @Model.TenLoai</h3>

@using (Html.BeginForm())
{
    @Html.Hidden("MaLTV", Model.MaLoaiTV)
    if (lstLoaiTVQuyen != null)
    {
        //Truong hop da phan quyen
        for (int j = 0; j < lstQuyen.Count(); j++)
        {
            int k = 0;
            for (int i = 0; i < lstLoaiTVQuyen.Count(); i++)
            {
                if (lstQuyen.ElementAt(j).MaQuyen == lstLoaiTVQuyen.ElementAt(i).MaQuyen)
                {
                    k++;
                    break;
                }
            }
            if (k != 0)
            {
                <div class="col-md-4" style="font-size:10px">
                    <input class="ckbclick" type="checkbox" checked="checked" name="@Url.Content("["+j+"].MaQuyen")" value="@lstQuyen.ElementAt(j).MaQuyen" />
                    <label for="@Url.Content("["+j+"].MaQuyen")">@lstQuyen.ElementAt(j).TenQuyen </label>
                </div>
            }
            else
            {
                <div>
                    <input class="ckbclick" type="checkbox" name="@Url.Content("["+j+"].MaQuyen")" value="@lstQuyen.ElementAt(j).MaQuyen" />
                    <label for="@Url.Content("["+j+"].MaQuyen")">@lstQuyen.ElementAt(j).TenQuyen </label>
                </div>
            }
            k = 0;

        }
    }
    else //thanh vien chua phan quyen
    {
        for (int i = 0; i < lstQuyen.Count(); i++)
        {
            <div>
                <input class="ckbclick" style="width:30px;height:30px" type="checkbox" name="@Url.Content("["+i+"].MaQuyen")" value="@lstQuyen.ElementAt(i).MaQuyen" />
                <label for="@Url.Content("["+i+"].MaQuyen")">@lstQuyen.ElementAt(i).TenQuyen </label>
            </div>
        }
    }
    <div class="clearfix"></div>
    <input type="submit" name="name" value="Tiến Hành" />
}
@Html.ActionLink("Trở về", "Index")

<script>
    $(".ckbclick").click(function () {
        i = 0;
        $(".ckbclick").each(function () {
            if ($(this).is(':checked'))
            {
                $(this).attr("name", "[" + i + "].MaQuyen");
                i++
            }
        })
    })
</script>