@using THCM4.Models
@using PagedList.Mvc
@model PagedList.IPagedList<SanPham>
@{
    ViewBag.Title = "LoadSanPham";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<div class="col-md-9 product1">
    <div class=" bottom-product">
        @foreach (var item in Model.OrderBy(n => n.DonGia))
        {


            <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                <div class="product-at ">
                    <a href="@Url.Action("XemChiTiet","SanPham",new { id=item.MaSP})">
                        <img class="img-responsive" src="@Url.Content("~/Content/AnhData/"+item.HinhAnh)" alt="">

                    </a>
                </div>
                <p class="tun" style="color:black">@item.TenSP</p>
                <a href="@Url.Action("ThemGioHang","GioHang",new {@MaSp=item.MaSP,@Surl=Request.Url.ToString() })" class="item_add"><p class="number item_price"><i> </i>@item.DonGia.Value.ToString("#,##")</p></a>
            </div>
        }
    </div>
</div>
<div class="col-md-9" style="margin-top:20px">
    Trang@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("LoadSanPham", new { SoTrang = page, @MaLoaiSP = ViewBag.MaLoaiSP, @MaNSX = ViewBag.MaNSX }))
</div>

